    html,
    body {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    #entrada {
        position: relative;
        /* transform: translateY(50%); */
        /* transform: translateY(-50%); */
        font-size: 30px;
    }
    
    input::placeholder {
        text-align: center;
    }
    
    input {
        position: relative;
        padding: 10px;
        height: 10px;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 30px;
        width: 80%;
    }
    
    #btt {
        width: 300px !important;
        height: 70px !important;
        cursor: pointer;
    }
    
    .letra {
        position: relative;
        top: 80px;
        background: black;
        border-radius: 25px;
        opacity: 90%;
        height: 40px;
        padding: 15px;
        color: white;
    }
    
    .foto {
        height: 70vh;
        border: solid rgb(114, 28, 100) 3px;
        border-radius: 20px;
        box-shadow: 0px 0px 50px 0px;
        top: 50px;
        position: relative;
    }
    
    .video {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url(core.gif);
        background-repeat: repeat;
        background-size: 100% 100%;
    }
    
    .foto:nth-child(1n+2) {
        display: none;
    }
    
    .letra:nth-child(1n+2) {
        display: none;
    }
    
    .fotos {
        display: grid;
        grid-template-rows: auto;
        border: solid rgb(114, 28, 100) 1px;
    }
    
    .quadrado-da-foto {
        position: relative;
        transform: translateX();
    }
    
    .direita {
        position: relative;
        top: 50%;
        transform: translatey(-50%);
        cursor: pointer;
    }
    
    .parte2 {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        cursor: pointer;
    }
    
    audio {
        position: absolute;
    }
    
    #loguin {
        background-image: url(core2.gif);
        background: ;
    }
    
    form {
        padding: 20px;
    }
    
    .loguin {
        position: relative;
        top: 200px;
        padding: 20px;
    }
    
    #musica1 {
        position: absolute;
        top: 10%;
        left: 5%;
        border-radius: 50px;
    }
    
    #musica2 {
        position: absolute;
        top: 10%;
        right: 28%;
        border-radius: 50px;
    }