@media only screen and (max-width:600px) {
    #fotos {
        display: grid;
        grid-template-columns: auto;
    }
    body {
        height: 100vh;
        background-size: 100% 100%;
    }
    .quadrado-da-foto {
        position: relative;
        left: 0;
        height: 100vw;
    }
    .foto {
        height: 110vw;
        top: 10px;
    }
    .letra {
        top: 80px;
    }
    .video1 {
        display: block;
        position: absolute;
        top: 50px;
        width: 100%;
    }
    audio {
        width: 180px;
        position: absolute;
        bottom: 0;
    }
    #musica1 {
        bottom: 10%;
        left: 5%;
        border-radius: 50px;
    }
    #musica2 {
        bottom: 10%;
        right: 45%;
        border-radius: 50px;
    }
    .loguin {
        top: 100px;
        padding: 20px;
    }
    input {
        height: 50px;
        border-radius: 50px;
        color: rgb(211, 85, 211);
        text-align: center;
    }
    #btt {
        position: relative;
        top: 50px;
        border-radius: 60px;
        color: black;
    }
    label {
        position: relative;
    }
}